body{
  height: 100vh;
  background: #e2e1e0;
}

.login_box{
  padding: 30px;
  text-align: center;
  background-color: white;
  border-radius: 2%;
  /* border: 1px solid #888; */
  margin-top: 5vh;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.login_box h1{
  margin-bottom: 50px;
}

.login_btn{
  width: 50%;
}

.tagline{
  margin-top: 1rem;
  font-size: .8rem;
}

#loginErrorText{
  font-size: .8rem;
  padding: 2px;
}
